<div class="well span7 offset2">
<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @release.title %>
</p>

<p>
  <b>Date:</b>
  <%= @release.date %>
</p>

<p>
  <b>Body:</b>
  <%= @release.body %>
</p>


<%= link_to 'Edit', edit_release_path(@release) %> |
<%= link_to 'Back', releases_path %>
</div>